body { 
	font-family: fantasy;
	color: red; 
	font-size: 300px;
	text-align: center;
	background-image: url(http://pixabay.com/static/uploads/photo/2013/07/12/12/54/world-map-146505_640.png);
	background-size: 10%;
}

